extends ../layout
block content 
link(rel="stylesheet", href="/css/detail.css")
script(src="/js/detail.js")
    h3 도서 세부내용
    div
        strong ISBN
        span= STD.isbn
    div
        strong 도서명
        span= STD.title
    div
        strong 출판사
        span= STD.publisher
    div
        strong 저자
        span= STD.author
    div
        strong 가격
        span= STD.price
    div
        strong 할인가격
        span= STD.discount
    div
        strong 요약
        span= STD.description
    div
        strong 발행일
        span= STD.pubdate
    div
        strong 네이버링크
        span= STD.link
    div
        strong 이미지링크
        span= STD.image
    .btn_box
        button 리스트로
        button 수정
        button 삭제